.navbar-collapse {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(222, 222, 222, 1)
}

.videoup {
    border-color: rgba(255, 255, 255, 0);
}

.videoup:hover {
    background-color: rgba(255, 255, 255, 0.5)
}

.video-stream {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.html5-main-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
    border-radius: 3px
}

.leaveMessage {
    margin-left: 14em;
    margin-right: 14em;
}

a {
    color: #000;
    font-size: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 50px
}

#profession {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #000000;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #000000 transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #000000;
}

.courschant {
    background: url(../../img/piano1500.png);
    background-attachment: fixed;
    background-size: cover;
}

.fp-controlArrow.fp-prev {
    left: 60px
}

.fp-controlArrow.fp-next {
    right: 60px
}

.scrollable .scrollable-slider {
    background-color: #000;
    background-image: linear-gradient(to right, #000, #000);
    border: 1px solid #333;
    border: 1px solid rgb(0, 0, 0);
}